[defaults]
inventory= /home/desktop/git/ansible_playbook/inventory
collections_path= /usr/share/ansible/collections/
#/home/desktop/git/ansible_playbook/mycollections
roles_path= /home/desktop/git/ansible_playbook/roles
remote= root
ask_pass= false